/* styles.css */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #6d6d6d;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

label {
  font-weight: bold;
}
select, input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #265ede;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}